@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.wrapper {
  margin-left: 30px
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: $bg-color;
  & h1{
    color: $text-color;
  }
#container {
  width: 600px;
  margin: 20px 0;

    #accordion {
      margin-top: 20px;

      .item {
      width: 400px;
      height: 30px; /* height = total height of A child element */
      overflow: hidden;
      transition: height ease-in-out 500ms; /* css3 transition */
      -o-transition: height ease-in-out 500ms;
      -moz-transition: height ease-in-out 500ms;
      -webkit-transition: height ease-in-out 500ms;
      // border: 1px solid #ccc;
      background-color: whitesmoke;
      // border-radius: 5px;
      // -moz-border-radius: 5px;
      // -webkit-border-radius: 5px;
      margin-bottom: 5px;
      box-shadow: 0 1px 5px $secondary;
      }

      a {
        display: block;
        height: 10px;
        line-height: 10px;
        background-color: $primary;
        padding: 10px;
        color: $text-color;
        text-decoration: none;
      }

      img {
        width: 100%;
      }

      p {
      height: 200px;
      padding: 10px;
      color: $bg-color;
      }

      div:hover {
      height: 250px; /* height = total height of A and P elements */

        a {
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: $primary-light;
        }
      }
    }
  }
}
